@import "tailwindcss";

@theme {
  --color-navy: #0a1628; /*Main dark navy background*/
  --color-navy-dark: #081024; /* Header & Footer background (darker)*/
  --color-navy-600: #0c1f3f; /* Products & Services section bg*/
  --color-navy-drawer: #0d1f3c; /* Mobile Bag Drawer & About*/
  --color-blue: #176cc8; /* Primary blue (buttons)*/
  --color-blue-light: #1a7de0; /* Primary blue at hover*/
  --color-accent: #6daee0; /*  Primary blue accent*/
  --color-brand-green: #1a9e4a; /* Green dot*/
  --color-white: #e0e7f1; /* Body text*/
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #0a1628;
}